<div class="container">
  <div class="image-container">
    <img src="assets/images/loginimageleft.png" alt="Imagen de fondo">
  </div>
  <form (ngSubmit)="login()" [formGroup]="firstFormGroup" class="form-container poppins-font">
    <div class="welcome-text">¡Bienvenido de vuelta!</div>
    <div class="expenses-text">¿Qué gastos harás hoy?</div>

    <div class="email-text">E-mail o nombre de usuario</div>
    <mat-form-field appearance="fill" class="custom-input">
      <input matInput placeholder="Coloca tu e-mail o nombre de usuario" formControlName="firstCtrl" [(ngModel)]="email"
        class="rounded-input">
    </mat-form-field>

    <div class="password-text">Contraseña</div>
    <mat-form-field appearance="fill" class="custom-input input-password">
      <input matInput type="password" placeholder="Coloca tu contraseña" formControlName="secondCtrl"
        [(ngModel)]="password" class="rounded-input">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="custom-button">Iniciar Sesión</button>

    <div class="forgot-password">¿Olvidaste tu contraseña?</div>

    <div class="social-text-container">
      <div class="line"></div>
      <div class="social-text">o usa otra de tus cuentas</div>
      <div class="line"></div>
    </div>

    <div class="social-icons">
      <img src="assets/images/imgGoogleAccess.png" alt="Google">
      <img src="assets/images/imgAppleAccess.png" alt="Apple">
      <img src="assets/images/imgFacebookAccess.png" alt="Facebook">
    </div>

    <div class="register-text">Aún no tienes una cuenta? <span>Regístrate</span></div>
  </form>
</div>