<div class="container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <div mat-card-avatar class="welcome-image"></div>
      <mat-card-title>Bienvenido</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>¡Hola! Esperamos que tengas un gran día.</p>
      <p>La última vez que iniciaste sesión fue el 27/04/2024</p>
    </mat-card-content>
  </mat-card>

  <div class="cards-container">
    <mat-card class="balance-card">
      <mat-card-header>
        <mat-card-title style="color: white; font-family: 'Arial', sans-serif; font-size: 18px; margin-bottom: 5px;">Balance</mat-card-title>
      </mat-card-header>
      <mat-card-content style="color: white; font-family: 'Arial', sans-serif; font-size: 18px; margin-bottom: 5px;">
        <h4>Amount</h4>
        <h2>4000</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="currency-card">
      <mat-card-header>
        <mat-card-title style="color: white; font-family: 'Arial', sans-serif; font-size: 18px; margin-bottom: 5px;">Currency</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div mat-card-avatar class="currency-image"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-chart></app-chart>

