.welcome-card {
  width: 450px;
  justify-content: left;
}

.else, .mat-card-subtitle {
  margin-left: 30px;
  margin-top: 15px;
}

.welcome-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.currency-image{
  background-image: url('https://pngimg.com/d/dollar_sign_PNG44.png');
  width: 80px;
  height: 80px;
  border-radius: 30%;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.cards-container {
   display: flex;
   align-items: center;
 }

.currency-card {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency-card {
  width: 150px;
  height: 150px;
  background-color: #8288ff;
  justify-items: center;
  justify-content: center;
}

.balance-card-title, .currency-card-title {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}


.expenses-card {
  width: 360px;
  margin: 10px;
  height: 460px;
}

.movements-image {
  height: 150px;
  aspect-ratio: 16/9;
  object-fit: cover;
}
