.welcome-card {
  width: 400px;
}

.welcome-image {
  background-image: url('https://i.pinimg.com/564x/84/ae/a8/84aea8fdc3a37c1ca15a417ad2af2084.jpg');
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.currency-image{
  background-image: url('https://pngimg.com/d/dollar_sign_PNG44.png');
  width: 80px;
  height: 80px;
  border-radius: 30%;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.cards-container {
   display: flex;
   align-items: center;
 }

.currency-card {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance-card {
  width: 350px;
  height: 150px;
  background-color: rgb(170, 103, 242);
}

.currency-card {
  width: 35%;
  height: 150px;
  background-color: orange;
  justify-items: center;
  justify-content: center;
}

.balance-card-title, .currency-card-title {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
