<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>
                Información del Grupo
            </ng-template>
            <mat-form-field>
                <mat-label>Nombre del Grupo</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Imagen del grupo</mat-label>
                <input matInput formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>
                Integrantes del Grupo
            </ng-template>
            <mat-form-field>
                <mat-label>Integrantes</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>
                Moneda que usara el grupo
            </ng-template>
            <mat-form-field>
                <mat-label>Moneda</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>
                Confirmación
            </ng-template>
            <p>Gracias por crear el grupo</p>
            <div>
                <button mat-button matPrimary (click)="createNewGroup()">Done</button>
            </div>
        </form>
    </mat-step>
</mat-stepper>