<mat-card>
  <mat-card-title>{{ group.name }}</mat-card-title>
  <mat-card-header>
    <img :src="group.image" alt="Imagen de grupo">
    <mat-card-title-group>
      <mat-card-title>El grupo {{ group.name }} te debe: {{ amountOfPayToYou }} {{ group.currency }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>Creación: {{ group.creationDate | date: 'dd/MM/yyyy'}}</p>
    <p>Currency: {{ group.currency }}</p>
    <p>Integrantes: {{ group.members.length }}</p>
  </mat-card-content>
</mat-card>
