html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

@media screen and (max-width: 768px) {
  .image-container {
    display: none;
  }
}

.form-container {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  max-width: 500px;
}

.welcome-text {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.expenses-text {
  color: #AA67F2;
  margin-bottom: 20px;
  font-size: 16px;
}

.email-text,
.password-text {
  color: #AA67F2;
  margin-bottom: 8px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #E5E5E5;
  width: 100%;
  box-sizing: border-box;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  color: gray;
}

.mat-input-element {
  display: none;
}

button {
  background-color: #AA67F2;
  color: white;
  border-radius: 10px;
  padding: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #8842c3;
}

.social-text-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #E5E5E5;
}

.social-text {
  margin: 0 10px;
  color: #686868;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons img {
  width: 40px;
  margin: 0 10px;
  cursor: pointer;
}

.register-text {
  text-align: center;
  color: #686868;
}

.register-text span {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.custom-input {
  width: 100%;
}

.custom-button {
  margin-top: 10px;
}

.rounded-input .mat-input-element {
  border-radius: 20px;
}