<div class="container">
  <div class="image-container">
    <img src="assets/images/registerimageleft.png" alt="Imagen de fondo">
  </div>
  <form (ngSubmit)="register()" [formGroup]="registerForm" class="form-container poppins-font">
    <div class="welcome-text">¡Únete a nosotros!</div>
    <div class="expenses-text">Crea tu cuenta para empezar</div>

    <div class="email-text">Nombre de usuario</div>
    <mat-form-field appearance="fill" class="custom-input">
      <input matInput placeholder="Coloca tu nombre de usuario" formControlName="username" class="rounded-input">
    </mat-form-field>

    <div class="email-text">E-mail</div>
    <mat-form-field appearance="fill" class="custom-input">
      <input matInput type="email" placeholder="Coloca tu e-mail" formControlName="email" class="rounded-input">
    </mat-form-field>

    <div class="password-text">Contraseña</div>
    <mat-form-field appearance="fill" class="custom-input input-password">
      <input matInput type="password" placeholder="Coloca tu contraseña" formControlName="password"
        class="rounded-input">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="custom-button">Regístrate</button>

    <div class="social-text-container">
      <div class="line"></div>
      <div class="social-text">o regístrate con</div>
      <div class="line"></div>
    </div>

    <div class="social-icons">
      <img src="assets/images/imgGoogleAccess.png" alt="Google">
      <img src="assets/images/imgAppleAccess.png" alt="Apple">
      <img src="assets/images/imgFacebookAccess.png" alt="Facebook">
    </div>

    <div class="register-text">¿Ya tienes una cuenta? <span (click)="wantToLogin()">Inicia sesión</span></div>
  </form>
</div>