<div class="title-container">
  <h1>Outgoing Payments</h1>
</div>

<div class="cards">
  <mat-card class="done card">
    <mat-card-header>
      <mat-card-title>Payments Made</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="group-container">
        <mat-card *ngFor="let group of groups" class="group-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ group.name }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>

          <mat-card-content>
            <div class="container">
              <div class="box name">
                <h3><b>Members</b></h3>
                <div *ngFor="let payment of groupPayments[group.id]">
                  {{ users[payment.userId].fullName || payment.userId }}
                </div>
              </div>
              <div class="box date">
                <h4><b>Description</b></h4>
                <div *ngFor="let payment of groupPayments[group.id]">
                  {{ payment.description }}
                </div>
              </div>
              <div class="box amount">
                <h4><b>Amount</b></h4>
                <div *ngFor="let payment of groupPayments[group.id]">
                  {{ payment.amount | currency }}
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="missing card">
    <mat-card-header>
      <mat-card-title>Payments to Do</mat-card-title>
      <button mat-raised-button class="btnPago">Make Payment</button>
    </mat-card-header>

    <mat-card-content>
      <div class="group-container">
        <mat-card *ngFor="let group of groups" class="group-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ group.name }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>

          <mat-card-content>
            <div class="container">
              <div class="box name">
                <h3><b>Members</b></h3>
                <div *ngFor="let payment of groupPayments[group.id]">
                  {{ users[payment.userId]?.fullName || payment.userId }}
                </div>
              </div>
              <div class="box date">
                <h4><b>Description</b></h4>
                <div *ngFor="let payment of groupPayments[group.id]">
                  {{ payment.description }} <!-- Assuming description contains date -->
                </div>
              </div>
              <div class="box amount">
                <h4><b>Amount</b></h4>
                <div *ngFor="let payment of groupPayments[group.id]">
                  {{ payment.amount | currency }}
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
