<mat-card *ngFor="let group of groups" class="group-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ group.name }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="container">
    <div class="box name">
      <h4>Integrantes</h4>
      <p *ngFor="let member of group.members">{{ member.name }}</p>
    </div>
    <div *ngFor="let payment of group.paymentHistory" class="box date">
      <div class="box date">
        <h4>Fecha</h4>
        <p >{{ payment.date }}</p>
      </div>
      <div class="box amount">
        <h4>Monto</h4>
        <p>{{ payment.amount }}</p>
      </div>
    </div>  
  </mat-card-content>

</mat-card>
